@charset "UTF-8";
@import "compass/css3"; 
@import "_WebProfy";  
@import "_WebProfyGrid";

$color-very-dark-greenish-blue:#010306;
$color-blackish-blue:#1B1F27;
$color-raspberry:#D01419;
$color-white:#ffffff;